.banner {
  max-height: 505px;
  overflow: hidden;
  color: var(--clr-white);
  background-image: var(--bg-banner);

  &__container {
    place-items: center;
    text-align: center;
  }

  &__details {
    margin-block-start: 42px;
    margin-block-end: 54px;
  }

  &__title {
    margin-block: 0;
    margin-block-end: 12px;
    font-family: 'Euclid-SemiBold';
    font-size: var(--fs-xl-mob);
    line-height: 35.5px;
  }

  &__desc {
    width: 90%;
    margin-inline: auto;
    margin-block: 0;
    font-size: var(--fs-small);
    line-height: 22px;
  }

  &__img {
    transform: scale(1.2) translateY(58px) rotate(0.39deg);
    filter: var(--banner-shadow);
  }
}

@media only screen and (min-width: 1200px) {
  .banner {
    position: relative;
    min-height: 294px;

    &__container {
      grid-auto-flow: column;
      min-height: inherit;
    }

    &__details {
      justify-self: start;
      max-width: 60%;
      margin: 0;
      text-align: left;
    }

    &__title {
      margin-block-end: 32px;
      line-height: initial;
      font-size: var(--fs-maxi);
    }

    &__desc {
      width: auto;
      margin: 0;
      font-size: var(--fs-medium);
    }

    &__img {
      position: absolute;
      top: 0;
      left: 38%;
      max-width: 637px;
      transform: none;
    }
  }
}