.footer {
  padding-block: 50px;
  background-color: var(--bg-white);

  &__top {
    gap: 60px;
    margin-bottom: 60px;
  }

  &__img {
    display: inline-block;
  }

  &__subheading {
    font-family: 'Euclid-Medium';
    font-size: var(--fs-medium);
    background-repeat: no-repeat;

    &--phone,
    &--socials {
      margin-bottom: 20px;
    }

    &--phone {
      min-width: 20px;
      min-height: 21px;
      padding-left: 32px;
      line-height: 21px;
      background-image: url(../images/icons/footer/callback.svg);
    }

    &--email {
      min-width: 24px;
      min-height: 23px;
      padding-left: 35px;
      line-height: 23px;
      background-image: url(../images/icons/footer/email.svg);
      background-position-y: -2px;
    }

    &--suggestion {
      margin-bottom: 16px;
    }
  }

  &__contacts {
    gap: 40px;
  }

  &__schedule {
    gap: 10px;
    color: var(--clr-unchecked);
  }

  &__timetable {
    flex-direction: column;
    gap: 10px;
    margin: 0;
  }

  &__suggestions {
    gap: 36px;
  }

  &__group {
    color: var(--clr-unchecked);

    & li + li {
      margin-top: 10px;
    }
  }

  &__bottom {
    padding-top: 60px;
    color: var(--clr-unchecked);
    box-shadow: inset 0px 4px 2px -3px var(--bg-separator);
  }

  &__copyright {
    gap: 30px;
    margin-bottom: 60px;
  }

  &__devinfo {
    gap: 17px;
  }

  &__devimg {
    margin-left: initial;
  }

  &__devname {
    margin: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .footer {
    padding-bottom: 33;

    &__top {
      grid-auto-flow: column;
      gap: 201px;
      margin-bottom: 57px;
    }

    &__contacts {
      gap: 0;
    }

    &__suggestions {
      grid-auto-flow: column;
      gap: 201px;
    }

    &__subheading {

      &--phone {
        margin-top: 57.11px;
      }

      &--email {
        margin-top: 51px;
        margin-bottom: 59px;
      }

      &--suggestion {
        margin-bottom: 26px;
      }
    }

    &__group {
      line-height: 33px;

      & li + li {
        margin-top: 0;
      }
    }

    &__bottom {
      grid-auto-flow: column;
      gap: 166px;
      padding-top: 43px;
    }

    &__copyright {
      grid-auto-flow: column;
      align-items: center;
      gap: 166px;
      margin-bottom: 0;
    }
  }
}