.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  padding-top: 61px;
  background-color: var(--bg-sidebar);
  opacity: 0;

  &__header {
    padding-inline: 20px;
    margin-bottom: 47px;
  }

  &__title {
    font-family: 'Euclid-Medium';
    font-size: var(--fs-lg-mob);
    margin: 0;
  }

  &--open {
    z-index: 2;
    opacity: 1;
  }
}

@media only screen and (min-width: 1200px) {
  .sidebar {
    position: static;
    z-index: 0;
    padding-top: 30px;
    border-radius: var(--radius-md);
    opacity: 1;

    &__header {
      justify-content: space-between;
      padding-inline: 30px;
      margin-bottom: 60px;
    }
  }
}