.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; //change to '0' to show
  width: 100%;
  padding-top: 61px;
  overflow: hidden;
  background-color: var(--bg-sidebar);
  opacity: 0;

  &__header {
    padding-inline: 20px;
    margin-bottom: 47px;
  }

  &__title {
    font-family: 'Euclid-Medium';
    font-size: var(--fs-lg-mob);
    margin: 0;
  }
}