.feedback {
  order: 3;
  margin-left: auto;
  margin-right: 22.98px;

  &__item {
    background-repeat: no-repeat;
    background-size: cover;

    &:not(.feedback__item--phone) {
      display: none;
    }

    &--phone {
      min-width: 20px;
      min-height: 21px;
      background-image: url(../images/icons/header/callback-transparent.svg);
    }
  }

  &__title {

    &--phone {
      display: none;
    }
  }
}