// Resets default list rules
@mixin reset_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// Hides content excluding screen readers
@mixin sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0
}

// Hides scrollbar in FF and IE 10+
@mixin reset_scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}