$grey: #b8b8ed;

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  color: dimgrey;
}

img {
  outline: 5px solid currentColor;
  outline-offset: 2px;
}

cite {
  font-size: 1rem;
}

blockquote {
  color: $grey;
}