html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Euclid-Regular', sans-serif;
  font-size: var(--fs-normal);
  color: var(--clr-primary);
  background-color: var(--bg-primary);
}

img {
  display: block;
  max-width: 100%;
  margin-inline: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  padding: 0;
  border: 0;
}

dl,
dd {
  margin: 0;
}

::backdrop {
  --bg-backdrop: rgba(100, 100, 100, 0.5);
}