html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Euclid-Regular', sans-serif;
  font-size: var(--fs-normal);
  color: var(--clr-primary);
  background-color: var(--bg-primary);
}

img {
  display: block;
  max-width: 100%;
  margin-inline: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  padding: 0;
  border: 0;
}

dl,
dd {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

summary::marker,
summary::-moz-list-bullet,
summary::-webkit-details-marker {
  display: none;
  list-style-type: none;
  list-style-image: none;
}

::backdrop {
  --bg-backdrop: rgba(100, 100, 100, 0.5);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0
}