@font-face {
  font-family: 'Euclid-Bold';
  src: local('Euclid Circular A Bold'),
       url(../fonts/Euclid-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid-SemiBold';
  src: local('Euclid Circular A SemiBold'),
       url(../fonts/Euclid-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid-Medium';
  src: local('Euclid Circular A Medium'),
       url(../fonts/Euclid-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid-Regular';
  src: local('Euclid Circular A Regular'),
       url(../fonts/Euclid-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid-Light';
  src: local('Euclid Circular A Light'),
       url(../fonts/Euclid-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: local('Gilroy Medium'),
       url(../fonts/Gilroy-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}
